<!-- <div
    class="navbar-wrapper"
    [ngClass]="{ container: this.nextConfig.layout === 'horizontal' && this.nextConfig.subLayout === 'horizontal-2' }"
>
    <app-nav-content (onNavMobCollapse)="navMobCollapse()"></app-nav-content>
</div> -->

<div class=" p-4 ">
    <h5 class="pb-3">الميقات</h5>

    <div class="">
        <ul>
            <li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">الميقات الجعرانة</label>
            </li>
            <li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">الميقات الجعرانة</label>
            </li>
            <li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">الميقات الجعرانة</label>
            </li>
            <li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">الميقات الجعرانة</label>
            </li>
            <li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">الميقات الجعرانة</label>
            </li>
            <li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">الميقات الجعرانة</label>
            </li>
            <li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">الميقات الجعرانة</label>
            </li>
        </ul>
    </div>

    <div class="brdr"></div>
    <h5 class="pb-3">مواقع الكاميرات </h5>

    <div class="">
        <ul>
            <li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">الميقات الجعرانة</label>
            </li>
            <li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">الميقات الجعرانة</label>
            </li>
           
            <li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">الميقات الجعرانة</label>
            </li>
            
        </ul>
    </div>

</div>